In [17]:
import pandas as pd
import numpy as np

def login_table(id_name_verified, id_password):
    """
    :param id_name_verified: (DataFrame) DataFrame with columns: Id, Login, Verified.   
    :param id_password: (numpy.array) Two-dimensional NumPy array where each element
                        is an array that contains: Id and Password
    :returns: (None) The function should modify id_name_verified DataFrame in-place. 
              It should not return anything.
    """   
    id_name_verified.drop(columns=["Verified"], inplace=True)
    id_pass=pd.DataFrame(id_password, columns=["Id", "Password"])
    id_name_verified.insert(2, "Password", id_pass.Password)
    

id_name_verified = pd.DataFrame([[1, "JohnDoe", True], [2, "AnnFranklin", False]], columns=["Id", "Login", "Verified"])
id_password = np.array([[1, 987340123], [2, 187031122]], np.int32)

login_table(id_name_verified, id_password)
print(id_name_verified)

   Id        Login   Password
0   1      JohnDoe  987340123
1   2  AnnFranklin  187031122

In [2]:
id_name_verified = pd.DataFrame([[1, "JohnDoe", True], [2, "AnnFranklin", False]], columns=["Id", "Login", "Verified"])

In [5]:
id_name_verified

   Id        Login
0   1      JohnDoe
1   2  AnnFranklin

In [4]:
id_name_verified.drop(columns=["Verified"], inplace=True)

In [7]:
id_password = np.array([[1, 987340123], [2, 187031122]], np.int32)

id_pass=pd.DataFrame(id_password, columns=["Id", "Password"])
id_pass

   Id   Password
0   1  987340123
1   2  187031122

In [8]:
pd.merge(id_name_verified, id_pass, how="inner", on="Id")

   Id        Login   Password
0   1      JohnDoe  987340123
1   2  AnnFranklin  187031122

In [18]:
students = [("Allen Anderson", "Computer Science"),
            ("Edgar Einstein", "Engineering"),
            ("Farrah Finn", "Fine Arts")]
     
def add_new_student(students, name, major):
    students.append((name, major))

def update_student(students, index, name, major):
    students[index] = (name, major)

def find_students_by_name(students, name):
    return [student for student in students if name in student[0]]

def get_all_majors(students):
    return [student[1] for student in students]

In [20]:
find_students_by_name(students, "Allen Anderson")

[('Allen Anderson', 'Computer Science')]

In [21]:
def find_roots(a, b, c):
    x=b**2-4*a*c
    return (-b+(x**(1/2)))/2*a, (-b-(x**(1/2)))/2*a


print(find_roots(2, 10, 8));

(-4.0, -16.0)

In [25]:
import math
def find_roots(a, b, c):
    x=(b**2) - (4 * a*c)
    return (-b+math.sqrt(x))/2*a, (-b-math.sqrt(x))/(2*a)


print(find_roots(2, 10, 8));

(-4.0, -4.0)

In [23]:
import cmath
  
a = 2
b = 10
c = 8
  
# calculating  the discriminant
dis = (b**2) - (4 * a*c)
  
# find two results
ans1 = (-b-cmath.sqrt(dis))/(2 * a)
ans2 = (-b + cmath.sqrt(dis))/(2 * a)
  
# printing the results
print('The roots are')
print(ans1)
print(ans2)

The roots are
(-4+0j)
(-1+0j)