In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Exercise 1: Print First 10 natural numbers using while loop
i=0
while i<11:
    print(i)
    i=i+1

In [ ]:
#Exercise 2: Print the following pattern
i=6
for row in range(1,6):
    for col in range(1, row+1 ):
        print (col, end="  ")
    print(" ")

In [ ]:
#Exercise 3: Accept number from user and calculate the sum of all number from 1 to a given number
n=5
sum=0
for i in range(n+1):
    sum=sum+i
    #print(sum)
print(sum)

In [ ]:
#Exercise 4: Print multiplication table of a given number
x=5
for i in range(11):
    print(i*x)

In [ ]:
#Exercise 5: Given a list, iterate it, and display numbers divisible by five, 
#and if you find a number greater than 150, stop the loop iteration.

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if i%5==0 and i<=150:
        print(i)

In [ ]:
#Exercise 6: Given a number count the total number of digits in a number
x=str(56789)
print(len(x))

In [ ]:
num = 75869
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

In [ ]:
for row in range(6,0):
    print(row)

In [ ]:
#Exercise 7: Print the following pattern using for loop
n=5
for row in (range(n+1)):
    for column in range(n-row, 0,-1):
        print(column, end=" ")
    #new line after each row
    print()

In [ ]:
#Exercise 8:Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
    print(i)

In [ ]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

In [ ]:
#Exercise 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
    print(i)

In [ ]:
#Exercise 10: Display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
print("Done")

In [ ]:
#Exercise 11: Write a program to display all prime numbers within a range
start=25
end=50
for num in range(start, end+1):
    for i in range(2, num):
        if num%i ==0:
            break
    else:
        print(num)

In [ ]:
#Exercise 12: Display Fibonacci series up to 10 terms
a,b=1,1
for i in range(10):
    print("Fib(a)", a, "b", b)
    a,b=b,a+b

In [ ]:
terms = 10
# first two terms
num1, num2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < terms:
    print(num1, end="  ")
    temp = num1 + num2
    # update values
    num1 = num2
    num2 = temp
    count += 1

In [ ]:
#Exercise 13: Write a loop to find the factorial of any number
factorial=1
for i in range(1,6):
    factorial=factorial*i
print(factorial)

In [ ]:
#Exercise 14: Reverse a given integer number
num=12345
while num>0:
    digit=num%10
    num//=10
    print(digit, end="")

In [ ]:
num=str(12345)
length=len(num)
for i in range(length,0,-1):
    print(int(num[i-1]),end='')

In [ ]:
#Exercise 15 Use a loop to display elements from a given list that are present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i, num in enumerate(my_list):
    if i%2!=0:
        print(num, end=",")

In [ ]:
#Exercise 16: Display the cube of the number up to a given integer
num=6
for i in range(1,num+1):
    print("number is: ", i , " and the cube is " , i**3)

In [ ]:
#Exercise 17: Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 2
print("\nSum of above series is:", sum)

In [ ]:
#Exercise 18: Print the following pattern#
for row in range(1,6):
    for col in range(row):
        print("*", end=" ")
    print("")
for row in reversed(range(5)):
    for col in range(row):
        print("*", end=" ")
    print("")

In [ ]:
num=8
for i in range(1, num+1):
    print("* " * i, end="")
    print()

for j in range(num-1, 0, -1):
    print("* " * j, end="")
    print()

In [ ]:
# middle three characte
str1="sudipandey"

In [ ]:
#Numpy
#Exercise 19: Create a 4X2 integer array and Prints its attributes
import numpy as np
x=np.random.randn(8).reshape(4,2)
print(x)
print(x.shape)
print(x.ndim)
print(x.itemsize)

In [ ]:
np.empty([4,2], dtype=np.int_)

In [ ]:
#Exercise 20: Create a 5X2 integer array from a range between 100 to 200 such that the difference 
# between each element is 10
x= np.arange(100, 200, 10).reshape(5,2)

    
print(x)

In [ ]:
#Exercise 21: Following is the provided numPy array. Return array of items by taking 
# the third column from all rows
sampleArray = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])
print(sampleArray)
print("------------")
print(sampleArray[:,2])

In [ ]:
#Exercise 22: Return array of odd rows and even columns from below numpy array
sampleArray = np.array([[3 ,6, 9, 12], [15 ,18, 21, 24], 
[27 ,30, 33, 36], [39 ,42, 45, 48], [51 ,54, 57, 60]])
print(sampleArray)
print(sampleArray[::2,1::2])

In [ ]:
#Exercise 23: Create a result array by adding the following two NumPy arrays. Next, modify the result array by calculating the square 
# of each element
arrayOne = np.array([[5, 6, 9], [21 ,18, 27]])
arrayTwo = np.array([[15 ,33, 24], [4 ,7, 1]])
arraythree=arrayOne+arrayTwo
print(arraythree)
print(arraythree*arraythree)

In [ ]:
#Exercise 24: Split the array into four equal-sized sub-arrays
x=np.arange(10,34).reshape(8,3)
print(x)
np.split(x, 4)

In [ ]:
#Exercise 25: Sort following NumPy array
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
np.sort(sampleArray, axis=0)

In [ ]:
#Exercise 26: Print max from axis 0 and min from axis 1 from the following 2-D array.
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print(sampleArray)
np.max(sampleArray,axis=1)

In [ ]:
#Exercise 27: Delete the second column from a given array and insert 
# the following new column in its place.
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
newColumn = np.array([[10,10,10]])
print(sampleArray)
np.delete(sampleArray, 1, axis=1 )
np.insert(sampleArray, 1, newColumn, axis=1)

In [ ]:
#Exercise 28: Create two 2-D arrays and Plot them using matplotlib
x=np.random.randn(100).reshape(10,10)
x

In [ ]:
#Exercise 29: Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dic={}
for k, v in zip(keys, values):
    dic[k]=v
print(dic)

In [ ]:
{k:v for k, v in zip(keys, values)}

In [ ]:
dict(zip(keys,values))

In [ ]:
#Exercise 30: Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={**dict1, **dict2}
dict1.update(dict2)
print(dict1)

In [ ]:
#Exercise 31: Access the value of key ‘history’ from the below dict
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

In [ ]:
#Exercise 32: Initialize dictionary with default values
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
resDict = dict.fromkeys(employees, defaults)
print(resDict)

In [ ]:
# Individual data
print(resDict["Kelly"])

In [ ]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
defaults["employees"]=['kelly','Emma','John']
defaults

In [ ]:
#Exercise 33: Create a new dictionary by extracting the following keys from a below dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keys=["name", "salary"]
{k:sampleDict[k] for k in keys}

In [ ]:
#Exercise 34: Delete set of keys from a dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
{k:sampleDict[k] for k in sampleDict if k not in keysToRemove}

In [ ]:
#Exercise 35: Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

In [ ]:
for k, v in sampleDict.items():
    if sampleDict[k]==200:
        print('True')

In [ ]:
#Exercise 36: Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict["city"]="Kathmandu"
sampleDict

In [ ]:
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

In [ ]:
#Exercise 37: Get the key of a minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

min(sampleDict)

In [ ]:
#Exercise 38: Change Brad’s salary to 8500 from a given Python dictionary
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp2']['salary']=7500
sampleDict

In [ ]:
#Exercise 39: Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)
aTuple[::-1]

In [ ]:
#Exercise 40: Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

In [ ]:
#Exercise 41: Create a tuple with single item 50
a=50,

In [ ]:
#Exercise 42: Unpack the following tuple into 4 variables

aTuple = (10, 20, 30, 40)
for i in aTuple:
    print(f"(a) # should print {i}")

In [ ]:
a, b, c, d= aTuple
a

In [ ]:
#Exercise 43: Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2= tuple2, tuple1
tuple1

In [ ]:
#Exercise 44: Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:5]
tuple2

In [ ]:
#Exercise 45: Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

In [ ]:
#Exercise 46: Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))

In [ ]:
#Exercise 47: Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
from collections import Counter
Counter(tuple1)

In [ ]:
tuple1.count(50)

In [ ]:
#Exercise 48: Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)
tuple2=set(tuple1)
tuple2

In [ ]:
if tuple1.count(45) == len(tuple1):
    print(True)

In [7]:
#Exercise 49: Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleSet)
sampleSet

{'Black', 'Orange', 'Yellow'}

In [10]:
#Exercise 50: Return a new set of identical items from a given two set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a=set1.intersection(set2)
a

{30, 40, 50}

In [12]:
#Exercise 51: Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)
set1

{10, 20, 30, 40, 50, 60, 70}

In [14]:
#Exercise 52: Remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
set1

{40, 50}

In [15]:
import numpy as np
x,y=np.mgrid[0:5, 0:5]
x

array([[0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4]])

In [16]:
y

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])